# Бонусное домашнее задание (pandas).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

In [ ]:
!wget https://github.com/Murcha1990/CV_mini_course/blob/main/Session1/Data.zip?raw=true

In [ ]:
!unzip Data.zip

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
from pathlib import Path
import glob

data_dir = Path(".")
files = ['/content/data/Students_info_' + str(i) + '.csv' for i in range(10)]
df = pd.concat(map(pd.read_csv, files), axis=0)

In [ ]:
data_dir = Path(".")
files = ['/content/data/Students_marks_' + str(i) + '.csv' for i in range(10)]
df2 = pd.concat(map(pd.read_csv, files), axis=0)

In [ ]:
df = pd.concat([df, df2], axis=1)

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df.drop("index", axis=1).head()

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
x = df.drop("index", axis=1)

In [ ]:
x.shape

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
# your code here'
x.describe()

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
# your code here

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
# your code here

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
# your code here

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
# your code here
set(x['lunch'])

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
# your code here

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# your code here
x[(x['test preparation course'] == 'completed')]['writing score'].mean() - x[(x['test preparation course'] == 'none')]['writing score'].mean()

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# your code here
x.groupby("race/ethnicity")['reading score'].apply(lambda x: x.mean())

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# your code here
x.groupby("parental level of education")['writing score'].apply(lambda x: x.min())

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
# your code here
(x[(x['math score'] < passmark) | (x['writing score'] < passmark) | (x['reading score'] < passmark)])

In [ ]:
(x['math score'] < passmark).sum() + (x['reading score'] < passmark).sum() + (x['writing score'] < passmark).sum()

In [ ]:
865 + 910 + 886

In [ ]:
import numpy as np

pd.pivot_table(x, index=['gender','parental level of education'], values=['math score'], aggfunc=))

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# your code here
pd.pivot_table(x, index=['parental level of education'], values=['math score', 'reading score', 'writing score'], aggfunc=np.mean)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    90 и больше = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
tmp = (x['math score'] + x['reading score'] + x['writing score']) / 3
x = x.assign(Grade=tmp)

In [ ]:
(x[(x['Grade'] < 60) & (x['Grade'] >= 50)]).count()

In [91]:
# your code here
(x[(x['math score'] < passmark) | (x['writing score'] < passmark) | (x['reading score'] < passmark)])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
7,male,group B,some college,free/reduced,none,group1,40,43,39
9,female,group B,high school,free/reduced,none,group1,38,60,50
11,male,group D,associate's degree,standard,none,group1,40,52,43
17,female,group B,some high school,free/reduced,none,group1,18,32,28
...,...,...,...,...,...,...,...,...,...
73,female,group D,some college,free/reduced,none,group10,49,65,61
78,male,group D,high school,standard,completed,group10,55,41,48
80,female,group B,high school,free/reduced,none,group10,8,24,23
86,female,group C,associate's degree,standard,none,group10,40,59,51
88,female,group A,some high school,free/reduced,none,group10,44,45,45

In [95]:
(x['math score'] < passmark).sum() + (x['reading score'] < passmark).sum() + (x['writing score'] < passmark).sum()

339

In [81]:
865 + 910 + 886

2661

In [64]:
import numpy as np

pd.pivot_table(x, index=['gender','parental level of education'], values=['math score'], aggfunc=))

                                    math score
gender parental level of education
female associate's degree            65.250000
       bachelor's degree             68.349206
       high school                   59.351064
       master's degree               66.500000
       some college                  65.406780
       some high school              59.296703
male   associate's degree            70.764151
       bachelor's degree             70.581818
       high school                   64.705882
       master's degree               74.826087
       some college                  69.009259
       some high school              67.840909

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# your code here
pd.pivot_table(x, index=['parental level of education'], values=['math score', 'reading score', 'writing score'], aggfunc=np.mean)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    90 и больше = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [123]:
tmp = (x['math score'] + x['reading score'] + x['writing score']) / 3
x = x.assign(Grade=tmp)

In [134]:
(x[(x['Grade'] < 60) & (x['Grade'] >= 50)]).count()

gender                         182
race/ethnicity                 182
parental level of education    182
lunch                          182
test preparation course        182
group                          182
math score                     182
reading score                  182
writing score                  182
Grade                          182
dtype: int64

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here